---
import Base from "src/layouts/Base.astro";
---

<Base title="Cheat sheet">
  <main class="container">
    <h1>Cheat sheet</h1>

    <p>
      Cette page est là seulement pour pouvoir tester plus facilement que
      l'application fonctionne. Elle ne sera bien évidemment pas disponible dans
      la version finale.
    </p>

    <h2>Balise 1</h2>

    <img src="/balise-1.png" alt="QR code de la balise 1" />

    <h2>Balise 2</h2>

    <img src="/balise-2.png" alt="QR code de la balise 2" />

    <h2>Balise 3</h2>

    <img src="/balise-3.png" alt="QR code de la balise 3" />
  </main>
</Base>

<style>
  img {
    width: 15rem;
  }
</style>
