---
import GetControlPointCoordinates from "@components/GetControlPointCoordinates.svelte";
import Base from "../layouts/Base.astro";
---

<Base title="PPO Geodezic | La bastille - Grenoble">
  <GetControlPointCoordinates client:only="svelte" />
</Base>
