---
import CourseLink from "@components/CourseLink.astro";
import Base from "src/layouts/Base.astro";
---

<script>
  const defaultSentence = document.getElementById("default-sentence");
  const fromScanSentence = document.getElementById("from-scan-sentence");

  if (
    location.hash !== "" &&
    defaultSentence !== null &&
    fromScanSentence !== null
  ) {
    defaultSentence.style.display = "none";
    fromScanSentence.style.display = "inline";
  }
</script>

<Base title="PPO Geodezic">
  <main>
    <p class="headline">
      <span id="default-sentence">
        Bienvenu sur l'Espace Loisir Orientation de Créteil !
      </span>

      <span id="from-scan-sentence" style="display: none;">
        Vous venez de scanner une balise de l'Espace Loisir Orientation de
        Créteil !
      </span>

      Choisissez votre parcours :
    </p>

    <ul>
      <CourseLink
        course="history"
        path="/courses/history-adult-course"
        category="adult"
      />

      <CourseLink
        course="history"
        path="/courses/history-child-course"
        category="child"
      />

      <CourseLink
        course="nature"
        path="/courses/nature-adult-course"
        category="adult"
      />

      <CourseLink
        course="nature"
        path="/courses/nature-child-course"
        category="child"
      />
    </ul>
  </main>
</Base>

<style>
  main {
    margin: 2rem auto 1rem;
    max-width: 50rem;
    padding: 0 1rem;
  }

  .headline {
    font-size: 1.5rem;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 0;
  }

  @media screen and (min-width: 600px) {
    ul {
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
