<nav
  class="container-fluid border-t-2 border-t-solid border-t-[var(--table-border-color)]"
>
  <a role="button" href="#/scan" class="btn-unset">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      viewBox="0 0 32 32"
      ><path
        fill="currentColor"
        d="M24 28v-2h2v2zm-6-4v-2h2v2zm0 6h4v-2h-2v-2h-2v4zm8-4v-4h2v4zm2 0h2v4h-4v-2h2v-2zm-2-6v-2h4v4h-2v-2h-2zm-2 0h-2v4h-2v2h4v-6zm-6 0v-2h4v2zM6 22h4v4H6z"
      /><path
        fill="currentColor"
        d="M14 30H2V18h12zM4 28h8v-8H4zM22 6h4v4h-4z"
      /><path
        fill="currentColor"
        d="M30 14H18V2h12zm-10-2h8V4h-8zM6 6h4v4H6z"
      /><path fill="currentColor" d="M14 14H2V2h12ZM4 12h8V4H4Z" /></svg
    >

    <p>Scan</p>
  </a>

  <a role="button" href="#/" class="btn-unset">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      viewBox="0 0 32 32"
      ><path
        fill="currentColor"
        d="m16 24l-6.09-8.6A8.14 8.14 0 0 1 16 2a8.08 8.08 0 0 1 8 8.13a8.2 8.2 0 0 1-1.8 5.13Zm0-20a6.07 6.07 0 0 0-6 6.13a6.19 6.19 0 0 0 1.49 4L16 20.52L20.63 14A6.24 6.24 0 0 0 22 10.13A6.07 6.07 0 0 0 16 4Z"
      /><circle cx="16" cy="9" r="2" fill="currentColor" /><path
        fill="currentColor"
        d="M28 12h-2v2h2v14H4V14h2v-2H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h24a2 2 0 0 0 2-2V14a2 2 0 0 0-2-2Z"
      /></svg
    >

    <p>Carte</p>
  </a>

  <a role="button" href="#/summary" class="btn-unset">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      viewBox="0 0 32 32"
      ><path
        fill="currentColor"
        d="M16 22h14v2H16zm-2-2.6L12.6 18L6 24.6L3.4 22L2 23.4l4 4zM16 8h14v2H16zm-2-2.6L12.6 4L6 10.6L3.4 8L2 9.4l4 4z"
      /></svg
    >

    <p>Résumé</p>
  </a>
</nav>

<style>
  nav {
    z-index: 1;
    background-color: var(--background-color);
  }
  a[role="button"] {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }

  svg {
    width: 1.75rem;
    height: 1.75rem;
  }

  p {
    color: var(--h1-color);
    margin: 0;
    font-size: 0.75rem;
  }
</style>
