<script lang="ts">
  import { fly } from "svelte/transition";
  import { controlPointsStore } from "../lib/stores/control-points.store";
  import { userCourseStore } from "../lib/stores/user-course.store";
  import { push } from "svelte-spa-router";
  import { onMount } from "svelte";

  export let params: { controlPointId: string };

  let body = "";

  let controlPoint = $controlPointsStore.find(
    (c) => c.id === params.controlPointId
  )!;

  if (controlPoint === undefined) {
    alert("Cette balise n'éxiste pas");
    push("/");
  }

  $userCourseStore = $userCourseStore.map((c) => {
    if (c.id !== params.controlPointId) return c;
    return { ...c, found: true };
  });

  const userControlPoint = $userCourseStore.find(
    (c) => c.id === params.controlPointId
  )!;

  let allReadyAnswered = userControlPoint.correctAnswer !== null;
  let userResponse = controlPoint.responses![0];

  onMount(() => {
    body = document.getElementById(controlPoint.id)?.innerHTML ?? "";
  });

  function handleSubmit() {
    $userCourseStore = $userCourseStore.map((c) => {
      if (c.id !== params.controlPointId) return c;
      return { ...c, correctAnswer: userResponse?.right ?? false };
    });

    if (userResponse?.right) {
      alert("Bonne réponse !");
    } else {
      alert("Mauvaise réponse !");
    }

    push("/");
  }
</script>

<article transition:fly>
  {#if controlPoint === undefined}
    <p>Cette balise n'éxiste pas.</p>
  {:else}
    <h2>Bravo, vous avez trouvé la {controlPoint.title} !</h2>

    {@html body}

    <h3>Question</h3>

    <p>
      {controlPoint.question}
    </p>

    <form on:submit|preventDefault={handleSubmit}>
      {#each controlPoint.responses as response}
        <label>
          <input
            type="radio"
            name="response"
            value={response}
            bind:group={userResponse}
            disabled={allReadyAnswered}
          />

          {response.response}
        </label>
      {/each}

      {#if allReadyAnswered}
        {#if userControlPoint.correctAnswer}
          <p class="valid">
            Vous avez déjà correctement répondu à cette question !
          </p>
        {:else}
          <p class="invalid">
            Vous avez déjà tenté de répondre à cette question. La bonne réponse
            était "{controlPoint.responses.find((r) => r.right)?.response}"
          </p>
        {/if}
      {/if}

      <button disabled={allReadyAnswered} type="submit">Valider</button>
    </form>
  {/if}
</article>

<style>
  article {
    margin: 0;
    position: absolute;
    top: 0;
    /* right: 0;
    bottom: 0;
    left: 0; */
    height: 100%;
    overflow: auto;
  }

  .valid {
    color: var(--form-element-valid-border-color);
  }

  .invalid {
    color: var(--form-element-invalid-border-color);
  }
</style>
