---
import Castel from "./icons/Castel.astro";
import LadyBeetle from "./icons/LadyBeetle.astro";

export interface Props {
  course: "history" | "nature";
  category: "adult" | "child";
  path: string;
}

const { course, path, category } = Astro.props;
---

<li>
  <a href={path}>
    <article>
      <div class="icon">
        {course === "history" ? <Castel /> : <LadyBeetle />}
      </div>

      <p class="name">
        {course === "history" ? "Historique du site" : "Faune et Flore"}
      </p>

      <p class="sub-name">
        {category === "adult" ? "Parcours adulte" : "Parcours enfant"}
      </p>
    </article>
  </a>
</li>

<style>
  li {
    display: block;
  }

  article {
    margin: 0;
    display: grid;
    grid-template-columns: 3.5rem auto;
    align-items: center;
  }

  article:hover {
    box-shadow:
      0.0145rem 0.029rem 0.3rem rgba(27, 40, 50, 0.01698),
      0.0335rem 0.067rem 0.6rem rgba(27, 40, 50, 0.024),
      0.0625rem 0.125rem 1rem rgba(27, 40, 50, 0.03),
      0.1125rem 0.225rem 1.5rem rgba(27, 40, 50, 0.036),
      0.2085rem 0.417rem 3rem rgba(27, 40, 50, 0.04302),
      0.5rem 1rem 8rem rgba(27, 40, 50, 0.06),
      0 0 0 1rem rgba(27, 40, 50, 0.015);
  }

  .icon {
    grid-row: 1 / 3;
  }

  .name {
    margin: 0;
    font-size: 1.75rem;
  }

  .sub-name {
    margin: 0;
    font-size: 1rem;
  }

  a:hover {
    text-decoration: none;
  }
</style>
