<script lang="ts">
  import { center, mapCoordinates } from "src/lib/constants";
  import { ImageSource, MapLibre, Marker, RasterLayer } from "svelte-maplibre";

  let input: HTMLInputElement;
  let displayNotif = false;

  let coordinates: [number, number] = [...center];

  function handleInput(
    event: Event & {
      currentTarget: EventTarget & HTMLInputElement;
    }
  ) {
    coordinates = event.currentTarget.value
      .split(",")
      .map((s) => parseFloat(s)) as [number, number];
  }
</script>

<main class="wrapper">
  <MapLibre
    style="https://basemaps.cartocdn.com/gl/positron-gl-style/style.json"
    class="control-point-coordinates-map"
    {center}
    zoom={15}
    standardControls
  >
    <ImageSource url="/map.jpg" coordinates={mapCoordinates}>
      <RasterLayer
        paint={{
          "raster-fade-duration": 0,
          "raster-opacity": 1,
        }}
      />
    </ImageSource>

    <Marker bind:lngLat={coordinates} draggable>
      <svg viewBox="0 0 100 100" height="40" width="40">
        <circle
          cx="50"
          cy="50"
          r="47"
          stroke-width="5"
          fill="none"
          stroke="black"
        >
        </circle>

        <line x1="50" y1="20" x2="50" y2="80" stroke="black" stroke-width="2" />

        <line x1="20" y1="50" x2="80" y2="50" stroke="black" stroke-width="2" />
      </svg>
    </Marker>
  </MapLibre>

  <div>
    <div class="input-wrapper">
      <input
        type="text"
        class="input"
        value={coordinates.join()}
        bind:this={input}
        on:input={handleInput}
      />

      <button
        class="copy-btn"
        on:click={() => {
          window.navigator.clipboard.writeText(input.value);
          displayNotif = true;
          setTimeout(() => (displayNotif = false), 2000);
        }}>Click to copy</button
      >

      {#if displayNotif}
        <kbd class="notif">Copied!</kbd>
      {/if}
    </div>
  </div>
</main>

<style>
  .wrapper {
    width: 100%;
    height: 87%;
    display: flex;
    flex-direction: column;
  }

  :global(.control-point-coordinates-map) {
    flex-grow: 1;
  }

  .input-wrapper {
    max-width: 30rem;
    margin: 1rem auto;
    display: flex;
    gap: 1rem;
    position: relative;
  }

  .input {
    margin: 0;
  }

  .copy-btn {
    width: fit-content;
    text-wrap: nowrap;
    margin: 0;
  }

  .notif {
    position: absolute;
    left: calc(100% + 1rem);
    top: 0.75rem;
  }
</style>
