<script lang="ts">
  import {
    ImageSource,
    MapLibre,
    Marker,
    Popup,
    RasterLayer,
  } from "svelte-maplibre";
  import Router from "svelte-spa-router";
  import { controlPointsStore } from "../lib/stores/control-points.store";
  import { userCourseStore } from "../lib/stores/user-course.store";
  import type { ControlPoint } from "../models/control-point.model";
  import BottomNav from "./BottomNav.svelte";
  import ControlPointDialog from "./ControlPointDialog.svelte";
  import Pin from "./Pin.svelte";
  import Scanner from "./Scanner.svelte";
  import Summary from "./Summary.svelte";
  import { mapCoordinates, center } from "src/lib/constants";
  import { resizeImageIfNedded } from "src/lib/image-utils";
  import { onMount } from "svelte";

  export let controlPoints: ControlPoint[];

  let url: null | string = null;

  $controlPointsStore = controlPoints;

  $userCourseStore = $controlPointsStore.map((c) => ({
    id: c.id,
    correctAnswer: null,
    found: false,
  }));

  const routes = {
    "/scan": Scanner,
    "/summary": Summary,
    "/control-points/:controlPointId": ControlPointDialog,
  };

  onMount(async () => {
    url = await resizeImageIfNedded("/map.jpg");
  });
</script>

<div class="relative flex flex-col h-87%">
  <MapLibre
    style="https://basemaps.cartocdn.com/gl/positron-gl-style/style.json"
    class="map"
    {center}
    zoom={15}
    standardControls
  >
    {#if url !== null}
      <ImageSource {url} coordinates={mapCoordinates}>
        <RasterLayer
          paint={{
            "raster-fade-duration": 0,
            "raster-opacity": 1,
          }}
        />
      </ImageSource>
    {/if}

    {#each controlPoints as controlPoint (controlPoint.id)}
      <Marker lngLat={controlPoint.location} offset={[0, -20]}>
        <Pin
          text={controlPoint.id.split(".")[0] ?? ""}
          width={40}
          height={40}
          color="#1f8978"
        />

        <Popup openOn="click" offset={[0, -25]}>
          <p>Balise {controlPoint.id.split(".")[0] ?? ""}</p>
        </Popup>
      </Marker>
    {/each}
  </MapLibre>

  <Router {routes} />

  <BottomNav />
</div>

<style>
  :root {
    --display-brand-name-small-devices: none;
  }

  :global(.map) {
    position: relative;
    flex-shrink: 0;
    flex-grow: 1;
  }
</style>
