<script lang="ts">
  export let text: string;
  export let width: number;
  export let height: number;
  export let color: string;

  const random = Math.random().toString().split(".")[1] ?? "toto";
</script>

<svg viewBox="0 0 100 100" {height} {width} fill={color}>
  <mask id={random}>
    <rect x="0" y="0" width="100" height="100" fill="white" />

    <text
      x="50"
      y="50"
      text-anchor="middle"
      font-family="arial"
      fill="black"
      font-size="35"
      font-weight="bold"
    >
      {text}
    </text>
  </mask>

  <g mask="url(#{random})">
    <circle cx="50" cy="35" r="35" />

    <polygon points="50,100 19,50 81,50" />
  </g>
</svg>
