<script lang="ts">
  import { onDestroy, onMount } from "svelte";
  import { push } from "svelte-spa-router";
  import { fly } from "svelte/transition";
  import { controlPointsStore } from "../lib/stores/control-points.store";
  import QrScanner from "qr-scanner";

  let qrScanner: QrScanner;
  let videoElem: HTMLVideoElement;

  function onDecode(result: QrScanner.ScanResult) {
    let url: URL;

    try {
      url = new URL(result.data);
    } catch (e) {
      alert("QR code non valide pour ce parcours.");
      return;
    }

    if (url.hostname !== location.hostname) {
      alert("QR code non valide pour ce parcours.");
      return;
    }

    const controlPointId = url.hash.split("/").at(-1);

    if (controlPointId === undefined) {
      alert("QR code non valide pour ce parcours.");
      return;
    }

    const controlPoint = $controlPointsStore.find(
      (c) => c.id === controlPointId
    );

    if (controlPoint === undefined) {
      alert("Cette balise n'appartient pas à ce parcours");
      return;
    }

    push(`/control-points/${controlPointId}`);
  }

  onMount(() => {
    qrScanner = new QrScanner(videoElem, onDecode, {
      highlightScanRegion: true,
      highlightCodeOutline: true,
    });

    qrScanner.start();
  });

  onDestroy(() => {
    console.log("Destroying scanner");
    qrScanner.destroy();
  });
</script>

<article transition:fly>
  <video bind:this={videoElem} />
</article>

<style>
  article {
    margin: 0;
    padding: 0;
    position: absolute;
    top: -5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
</style>
