<script lang="ts">
  import { fly } from "svelte/transition";
  import { controlPointsStore } from "../lib/stores/control-points.store";
  import { userCourseStore } from "../lib/stores/user-course.store";
  import Right from "./Right.svelte";
  import Wrong from "./Wrong.svelte";

  const controlPoints = $controlPointsStore.map((c) => {
    const userControlPoint = $userCourseStore.find((uc) => uc.id === c.id);

    return {
      ...c,
      found:
        userControlPoint?.found !== undefined ? userControlPoint?.found : false,
      correctAnswer:
        userControlPoint?.correctAnswer !== undefined
          ? userControlPoint?.correctAnswer
          : false,
    };
  });
</script>

<article transition:fly>
  <div class="wrapper">
    <table>
      <thead>
        <tr>
          <th>Balise</th>
          <th class="center">Trouvée</th>
          <th class="center">Bonne réponse</th>
        </tr>
      </thead>

      <tbody>
        {#each controlPoints as controlPoint (controlPoint.id)}
          <tr>
            <td>{controlPoint.title}</td>
            <td class="center">
              {#if controlPoint.found}
                <Right />
              {:else}
                <Wrong />
              {/if}
            </td>

            <td class="center">
              {#if controlPoint.correctAnswer}
                <Right />
              {:else}
                <Wrong />
              {/if}
            </td>
          </tr>
        {/each}
      </tbody>
    </table>
  </div>
</article>

<style>
  article {
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
  }

  .wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 35rem;
  }

  .center {
    text-align: center;
  }
</style>
