<nav
  class="container-fluid border-b-2 border-b-solid border-b-[var(--table-border-color)]"
>
  <ul class="logo-list min-w-0">
    <li class="link-list-item">
      <a role="button" class="btn-unset logo-link" href="/">
        <img
          src="/logo-geodezic.svg"
          alt="Logo de l'entreprise Géodezic"
          class="logo"
        />
      </a>
    </li>

    <li class="event-name">ELO Créteil</li>
  </ul>
</nav>

<style>
  nav {
    z-index: 1;
    background-color: var(--background-color);
  }

  .logo {
    height: 3rem;
    transform: translateY(-0.25rem);
  }

  .logo-link {
    padding: 0;
  }

  .event-name {
    margin: 0;
    border-left: 1px solid var(--table-border-color);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
</style>
