<svg
  xmlns="http://www.w3.org/2000/svg"
  width="32"
  height="32"
  viewBox="0 0 36 36"
>
  <path
    fill="#31373D"
    d="M24.989 7.766c-.069-2.626-1.277-4.216-3.095-5.04C21.961 2.5 22 2.257 22 2c0-1.105-.672-2-1.5-2S19 .895 19 2c0 .015.003.028.003.043C18.675 2.017 18.342 2 18 2s-.675.017-1.003.043c0-.015.003-.028.003-.043c0-1.105-.671-2-1.5-2S14 .895 14 2c0 .257.04.5.106.726c-1.817.824-3.025 2.414-3.095 5.04C7.98 9.551 6 12.662 6 17c0 7.159 5.373 16.923 12 16.923c6.628 0 12-9.764 12-16.923c0-4.338-1.98-7.45-5.011-9.234z"
  ></path>
  <path
    fill="#DD2E44"
    d="M16.001 34.959C9.564 34.364 4.5 28.064 4.5 20.378C4.5 12.693 9.564 9.597 16 9c.33-.03 1-.046 1 2.294v22.541c0 1.171-.669 1.156-.999 1.124zm3.998 0c6.436-.595 11.501-6.895 11.501-14.581C31.5 12.693 26.435 9.597 20 9c-.33-.03-1-.046-1 2.294v22.541c0 1.171.67 1.156.999 1.124z"
  ></path>
  <>
    <path
      fill="#31373D"
      d="M35 21H1a1 1 0 1 1 0-2h34a1 1 0 1 1 0 2zm-22.177-2l-.069-.002c-.092-.007-9.214-.714-10.734-8.235a1 1 0 1 1 1.96-.396c1.221 6.044 8.833 6.631 8.91 6.636A1 1 0 0 1 12.823 19zM3 31a1 1 0 0 1-.905-1.424c3.166-6.77 11.038-7.721 11.372-7.758a1 1 0 0 1 .223 1.988c-.071.008-7.099.876-9.783 6.617A1.002 1.002 0 0 1 3 31zm19.753-12a1 1 0 0 1-.065-1.998c.081-.005 8.116-.617 9.332-6.636a.995.995 0 0 1 1.179-.782a1 1 0 0 1 .782 1.178c-1.521 7.525-10.769 8.21-11.162 8.235l-.066.003zm10.248 12a1 1 0 0 1-.907-.576c-2.694-5.763-10.124-6.609-10.198-6.617a1 1 0 1 1 .209-1.989c.352.037 8.634.983 11.802 7.758A1.001 1.001 0 0 1 33.001 31z"
    ></path>
    <g fill="#31373D">
      <circle cx="10" cy="22" r="3"></circle>
      <circle cx="13" cy="29" r="2"></circle>
      <circle cx="24.5" cy="14.5" r="2.5"></circle>
      <circle cx="22.5" cy="20.5" r="1.5"></circle>
      <circle cx="28" cy="23" r="2"></circle>
      <>
        <circle cx="13" cy="15" r="2"></circle>
        <circle cx="24" cy="29" r="3"></circle>
      </>
    </g>
  </>
</svg>
