---
import TopNav from "@components/TopNav.astro";
import "./global.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    />

    <title>{title}</title>
  </head>

  <body>
    <TopNav />

    <slot />
  </body>
</html>
