html {
	height: 100%;
	height: 100dvh;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.error {
	color: var(--form-element-invalid-border-color);
	margin-bottom: 0;
}

label {
	margin-bottom: 1rem;
}

:root {
	--font-size: 14px;
}

@media screen and (min-width: 576px) {
	:root {
		--font-size: 15px;
	}
}

@media screen and (min-width: 768px) {
	:root {
		--font-size: 16px;
	}
}

.btn-unset {
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
	width: unset;
	color: var(--h1-color)
}

.btn-unset:focus {
	box-shadow: none;
}

.nowrap {
	text-wrap: nowrap;
}

.maplibregl-ctrl-zoom-in, .maplibregl-ctrl-zoom-out, .maplibregl-ctrl-compass, .maplibregl-ctrl-geolocate, .maplibregl-ctrl-fullscreen {
	margin: 0;
}