---
import { getCollection } from "astro:content";
import MapViewer from "../../components/MapViewer.svelte";
import Base from "../../layouts/Base.astro";

import type { AstroComponentFactory } from "astro/runtime/server/index.js";
import type { ControlPoint } from "src/models/control-point.model";

export interface Props {
  courseId: string;
}

const { courseId } = Astro.params;

export async function getStaticPaths() {
  return [
    { params: { courseId: "history-adult-course" } },
    { params: { courseId: "history-child-course" } },
    { params: { courseId: "nature-adult-course" } },
    { params: { courseId: "nature-child-course" } },
  ];
}

const courseControlPoints = await getCourse(courseId);
const controlPoints = await getCollection("control-points");

const contents: { id: string; Content: AstroComponentFactory }[] = [];

let allControlPoints: ControlPoint[] = [];

for (const courseControlPoint of courseControlPoints) {
  const { Content } = await courseControlPoint.render();
  contents.push({ id: courseControlPoint.id, Content: Content });

  const controlPoint = controlPoints.find(
    (c) => c.slug === courseControlPoint.data.controlPoint.slug
  );

  if (controlPoint === undefined) throw new Error("Control point not found");

  allControlPoints.push({
    id: courseControlPoint.id,
    controlPointId: controlPoint.data.id,
    question: courseControlPoint.data.question,
    responses: courseControlPoint.data.responses,
    location: controlPoint.data.location
      .split(",")
      .map((n) => parseFloat(n)) as [number, number],
  });
}

function getCourse(courseId: string) {
  if (courseId === "history-adult-course")
    return getCollection("history-adult-course");
  if (courseId === "history-child-course")
    return getCollection("history-child-course");
  if (courseId === "nature-adult-course")
    return getCollection("nature-adult-course");
  return getCollection("nature-child-course");
}
---

<Base title="PPO Geodezic">
  <MapViewer controlPoints={allControlPoints} client:only="svelte" />

  {
    contents.map(({ id, Content }) => (
      <div id={id} style="display: none;">
        <Content />
      </div>
    ))
  }
</Base>
